* {
	margin: 0;
	padding: 0;
	border: none;
}

html {
	height: 100%;
}

body {
	display: flex;
	height: 100%;
}

button {
	padding: 0.5em;
}

canvas {
	border: 0px solid;
}

.sequencer-controls {
	display: flex;
	flex-direction: row;
}

.sequencer-controls > input {
	flex-grow: 1;
	width: 0;
}

#editor-outer {
	display: flex;
	flex-direction: column;
}

#select-preset-wrapper {
	display: flex;
}

#select-preset {
	flex-grow: 1;
}

#editor {
	flex-grow: 1;
	overflow-wrap: unset;
	width: 24em;
}

#content {
	overflow: auto;
	flex-grow: 1;
}

.gain {
	background: #fee;
	display: inline-flex;
	flex-direction: column;
}

.gain:hover {
	background: #fbb
}