* {
	margin: 0;
	padding: 0;
	border: none;
}

html {
	height: 100%;
}

body {
	display: flex;
	height: 100%;
}

.sequencer-controls {
	display: flex;
	flex-direction: row;
}

.sequencer-controls > input {
	flex-grow: 1;
	width: 0;
}

#editor-outer {
	display: flex;
	flex-direction: column;
}

#editor {
	flex-grow: 1;
	overflow-wrap: unset;
	width: 24em;
}

#content {
	overflow: auto;
}